body {
    font-family: sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .control-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
  }
  
  .input-container {
    margin: 1rem;
  }
  
  .input-container label,
  .input-container input {
    display: block;
    width: 20rem;
  }
  
  .input-container input {
    font: inherit;
  }
  
  .button {
    font: inherit;
    background: #dcb8cb;
    color: white;
    border: 1px solid #dcb8cb;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: 0 1rem;
    width: 20.5rem
  }
  
  .user-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
    padding: 0;
  }
  
  .user-item {
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 30%;
  }